 body { padding: 0; margin: 0; position: relative; }
table { margin: 10px 0; width: 100%; }
   td { text-align: right; }

.basic_statistics {
  width: 720px;
  margin: 0 auto;
}

.basic_statistics .counts {
  border: 1px solid red;
}

.basic_statistics .ratios {
  border: 1px solid red;
}

.basic_statistics .date {
  font-size: 0.8em;
}

