<html>
<head>
  <title>RUBY ROLLS</title>
  <style>
    html{ font-size: 11px; }
    #main {margin:0 auto; width: 600px;}
  </style>
</head>
<body>
<div id="main">
<%= yield %>
</div>
</body>
</html>

